{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row">
            <section class="col-md-4 offset-md-4 mt-5">
                <form method="post" class="card card-body">
                    <h1 class="text-center">Sign In</h1>
                    <p> Welcome to the signin page!</p>

                    {% if error %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}


                    {% csrf_token %} 
                    
                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" placeholder="Username" class="form-control" required>
                    </div>
            
                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
                    </div>
            
                    <button class="btn btn-primary">
                        Sing In
                    </button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}
